@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family:'Poppins', sans-serif;
  font-size: 0.925rem;
  background-color: #f6f6f6;
}
a {
  text-decoration: none;
}

/* NAVBAR  */

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar, .navbar .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar, .navbar .container {
    display: block;
  }
}
.navbar {
  padding: 1.15rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
  background-color: #fff;
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}

@media (min-width: 768px) {
    .logo {
        position: block;
        width: 15rem;
        top: 0.5rem;
        z-index: 999;
    } 
}

@media (max-width: 768px) {
    .logo {
        text-align: center;
        width: 12rem;
    } 
}

.navbar .navbar-menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-weight: 700;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
    .navbar-nav {
    padding-top: 1rem;
    }
  }
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: white;
  background-color: #f6cd61;
  border-radius: 40px;
}
.dropdown > li > a:hover {
  color: white;
  background-color: #f6cd61;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #EEE;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: white;
  background-color: #f6cd61;
  border-radius: 40px;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding: 0.5rem 0;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin: 9px 0;
  background-color: #eee;
}
.navbar .navbar-dropdown {
  position: relative;
}
.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

/* LOGIN */

.login-page {
  width: 500px;
  padding: 8% 0 0;
  float: left;
  margin: auto;
  margin-left: 12.5rem;
  margin-top: -10rem;
}
.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

}
.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 25px;
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08), 0 0px 0px 0 rgba(0, 0, 0, 0);

}
.form button {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f6cd61;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 25px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #e6b846;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #f6cd61;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.login-mascot {
  position: relative;
  width: 75%;
  left: 3.8rem;
  top: 7.5rem;
}

@media (max-width: 768px) {
  .login-page {
    position: relative;
    width: 100%;
    top: 8rem;
    margin-left: auto;
    margin-right: auto;
  }

  .login-mascot {
    position: relative;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

}

/* Welkom tekst */

/* .wlc-btn {
  background-color: #f6cd61;
  color: white;
  font-weight: 700;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.wlc-btn:hover {
  background-color: #e6b846;
  color: white;
  font-weight: 700;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
  display: block;
  cursor: pointer;
  margin-top: 1rem;
} */

/* Declare text styles */

.text-container {
  position: relative;
  float: right;
  margin-top: 15rem;
  margin-right: 7%;
}

.text-container h1 {
  font-size: 4em;
  text-align: left;
  color: #f6cd61;
}
.text-container p {
  font-size: 1em;
  text-align: left;
}

/* Increase font sizes by 1.5x on bigger screens */
@media (max-width: 768px) {
  .text-container {
    margin: 3rem;
  }

  .text-container h1 {
    font-size: 3rem;
  }
  }
  .text-container p {
    font-size: 1.5em;
  }

  
/* Signup.php */

.signup {
  margin-top: 15%;
}

.sign-page {
  margin-left: auto;
  margin-top: auto;
}

/* dice */

.container-dice {
  padding-top: 15rem;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  position: fixed;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 10px;
}

img {
  width: 100%;
}

.butn {
  border-radius: 40px;
  background-color: #f6cd61;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #f6cd61;
  color: white;
  font-weight: 700;
  margin: auto;
}

.butn:hover {
  border-radius: 40px;
  background-color: #f6cd61;
  color: white;
  font-weight: 700;
}

/* home.php */

.profile{
	height:500px;
	width:320px;
	box-shadow: 0px 6px 10px -9px;
	border-radius:25px;
	margin:auto;
	margin-top:-10rem;
	overflow:hidden;
  background-color: #e6b846;
}
.profile-img{
	height:50%;
	background:#f6cd61;
}

.profile-img img {
  margin-top: 0.65rem;
  width: 15rem;
}

.profile-text{
	height:350px;
	background:white;
  padding: 2rem;
}

.profile-text h1{
  text-align: left;
  font-size: 1rem;
}

.profile-text h3{
  font-weight: 400;
  font-size: 1rem;
  background-color: #f6cd61;
  border-radius: 25px;
  padding-right: 20%;
}

.geen-toegang {
  margin-top: 15%;
  text-align: center;
}

.geen-toegang img {
  position: relative;
  bottom: 4rem;
  padding: 2rem;
}

/* MASCOT */

.help-blok {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  margin-top: 15%;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-size: cover;
}

.help-content {
  background-color: #fefefe;
  border-radius: 70px;
  margin: auto;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;

}

.mascot-img {
    width: 20rem;
    position: relative;
    float: right;
    right: 5rem;
    bottom: 9.7rem;
}

@media (max-width: 768px) {
  .mascot-img {
    position: relative;
    left: 2.5rem;
    top: 0.5rem;
  }

}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.index-btn {
  margin-top: 30%;
  margin-right: 35%;
}

#help-btn {
  background-color: #f6cd61;
  color: white;
  font-weight: 700;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#help-btn:hover {
  background-color: #4a4e4d;
  color: white;
  font-weight: 700;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

/* breuken */

.breuken-input input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
  border-radius: 15px;
}

.breuken-input {
  width: 20rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

.btn-breuken {
  background-color: #f6cd61;
  border-radius: 25px;
  border: none;
}

.btn-breuken:hover {
  background-color: #e6b846;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.breuken-output {
  text-align: center;
}