.mySlides {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#tekst{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10vh;
}

#tekst p{
    height: 100px;
    width: 100px;
}

#tekst img{
    height: 200px;
    width: 200px;
}